@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
.row{
    margin: 0;
}
:root {
    --text-font: 'Oswald', sans-serif;
    --primary-color: #fa163f;
}

.red {
    --primary-color: #fa163f;
}

.green {
    --primary-color: #66b95c;
}

.yellow {
    --primary-color: #ff9800;
}

.blue {
    --primary-color: #4169e1;
}

body {
    padding-left: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 1s;
    background-color: #0c0c0c;
    cursor: none;

}

.pad-left {
    padding-left: 260px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.9);
    background-image: url('https://amirayhan.github.io/tulsa/images/banner/banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero__back-img {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 10;
}

.hero__box {
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.hero__inner {
    text-align: center;
    width: 695px;

}

.hero__greeting {
    font-size: 24px;
    padding-bottom: 20px;

}

.hero__name {
    font-size: 55px;
    font-family: var(--text-font);
    text-transform: uppercase;
    line-height: 4rem;
    font-weight: 700;
    margin-bottom: 20px;


}

.btn {
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 13px 15px;
    border: 2px solid var(--primary-color);
    color: #fff;
    background: var(--primary-color);
    transition: all linear 0.4s;
}

.btn:hover {
    color: #fff;
    border: 2px solid var(--primary-color);
    background: transparent;
}

.hero__about {
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 1.2;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.hero__wrapper {
    color: var(--primary-color);
    white-space: nowrap;


}

.hero__down-scroll {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    padding: 30px;
}

.down__line {
    display: block;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: scrool-down 2s infinite alternate;
    transition: border 0.5s;
}


.down__line:nth-child(2) {
    animation-delay: -0.2s;
}

.down__line:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes scrool-down {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: rotate(45deg) translate(10px, 10px);
    }

    100% {
        opacity: 0;
    }
}

.down:hover .down__line {
    border-color: var(--primary-color);
}

/* jamoliddin finished hero section and started modal section */

.modal {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    z-index: 10;
    opacity: 0;
    overflow: hidden;
    transition: 1s;

}

.show-modal {
    width: 260px;
    opacity: 1;
}

.modal__box {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 30px 0 50px;
}

.modal__head-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.modal__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.modal__logo-name {
    font-size: 55px;
    font-weight: 900;
    color: #fff;
}

.modal__logochik {
    width: 9px;
    height: 9px;
    background-color: var(--primary-color);
    position: relative;
    top: -15px;
}

.modal__name {
    font-size: 12px;
    letter-spacing: 10px;
    line-height: 1.48rem;
    text-transform: capitalize;
}

.modal__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.modal__items {
    padding: 13px 0;
    transition: 0.5s;

}

.modal__link {
    color: #fff;
    transition: 0.5s;
}

.modal__items:hover .modal__link {
    color: var(--primary-color);
}

.setting {
    width: 70%;
    margin: 10px auto;
    height: 0;
    overflow: hidden;
    transition: 1s;

}

.setting__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.setting__title {
    text-align: center;
    position: relative;
    left: -30px;
    margin-bottom: 10px;
    color: #fff;
}

.setting__link {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #66b95c;
    border: none;
}

.modal__items:last-child:hover {
    color: var(--primary-color);
}

.modal__items:last-child:hover .setting {
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    height: auto;
    padding: 10px;

}

.setting__items:nth-child(3) .setting__link {
    background-color: #ff9800;
}

.setting__items:nth-child(2) .setting__link {
    background-color: #4169e1;
}

.setting__items:nth-child(1) .setting__link {
    background-color: #fa163f;
}

.modal__foot-box {
    color: #aebcb9;
}

.modal__nav-name {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.75rem;
    margin-bottom: 10px;
}

.modal__apps-list {
    display: flex;
    justify-content: center;
}

.modal__apps-items {
    margin: 0 5px;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    border: solid 1px var(--primary-color);
    padding-top: 3px;
    transition: 0.5s;
}

.modal__apps-link {
    color: #fff;
    transition: 0.5s;

}

.modal__apps-items:hover {
    background-color: transparent;
}

.modal__apps-items:hover .modal__apps-link {
    color: var(--primary-color);
}

.modal__reserved {
    padding-top: 10px;
    line-height: 1.75rem;
    font-size: 12px;
}

.modal__btn-close {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    border: none;
    position: absolute;
    right: 0;
    top: 30px;
    color: #aebcb9;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__btn-open {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    border: none;
    position: fixed;
    left: 0;
    top: 30px;
    color: #aebcb9;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.disp-none {
    display: none;
}

@media screen and (max-width:992px) {
    .modal__items {
        padding: 6px 0;
    }
}

@media screen and (max-width:768px) {
    .hero__name {
        font-size: 45px;
        line-height: 3.5rem;
    }
}

@media screen and (max-width:600px) {
    .hero__inner {
        width: 100%;
    }

    .hero__about {
        font-size: 16px;
    }

    .hero__name {
        font-size: 35px;
        line-height: 45px;

    }

    .hero__btn-open {
        top: 100px;
    }

    .modal__btn-close {
        top: 100px;
    }

    .modal__items {
        padding: 4px;
    }

    .modal__box {
        padding: 10px 0;
    }
}

@media screen and (max-width:368px) {
    .hero__greeting {
        font-size: 22px;
    }

    .hero__about {
        font-size: 16px;
    }

    .hero__name {
        font-size: 30px;
        line-height: 45px;

    }

    .hero__link {
        padding: 10px 12px;
        font-size: 15px;
    }
}



/* jamoliddin finshed hero section and started about section */
#about {
    padding: 120px 0;
    background-color: #000;
}

.about__box {
    width: 1150px;
    padding: 0 15px;
    overflow: hidden;

}
.about-width{
    width: 90%;
}
.about__text-anima {
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    font-family: 'Oswald',sans-serif;
    margin-bottom: 15px;
}

.about__wrapper {
    color: var(--primary-color);
    white-space: nowrap;


}

.about__img {
    width: 100%;
    height: 100%;
}


.title-com {
    padding-left: 20px;
    letter-spacing: 3px;
    position: relative;
    font-size: 34px;
    margin: 0;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    line-height: 1.75rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.title-com::before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0;
    width: 10px;
    height: 32px;
    background: var(--primary-color);

}

.about__text {
    color: #bbb;
    font-size: 15px;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 65px;
}
.about__left-box{
    padding: 0;
}
.about__btn{
    margin-right: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}
.about__btn:nth-child(2){
    background-color: transparent;
}
.about__btn:nth-child(2):hover{
    background-color: var(--primary-color);
    
}
.about__address-cont{
    margin:0 -15PX;
    padding-top: 60PX;
}
.about__address-box{
    padding: 0 15px;
}
.about__address{
    padding: 20px 0;
    background: #0c0c0c;
    border: 1px solid #0c0c0c;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
.about__con{
    color: #fff;
    font-family: 'Oswald',sans-serif;
    line-height: 1.75rem;
    font-weight: 700;
    margin-bottom: 7px;
    font-size: 18px;
}
.cn{
    font-size: 15px;
    color: #bbb;
    line-height: 1.75rem;
}
.about__mail{
    font-size: 12px;
    
}
.fa-phone{
    font-size: 22px;
    transform: rotate(-90deg);
    margin-bottom: 7px;
    color: var(--primary-color);
}
.fa-envelope {
    font-size: 18px;
    margin-bottom: 7px;
    color: var(--primary-color);
}
.about__address:hover{
    border: solid 1px var(--primary-color);
}
.about__images{
    height: 480px;
    padding: 0 0 3px 20px;
}
.about__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:992px) {
    .about__box{
        width: 90%;
    }
    .about__img-box{
        padding: 0;
        padding: 20px 0 0 0;
    }
    .about__images{
        padding: 0;
        background-image: url('https://images.unsplash.com/photo-1536148935331-408321065b18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom ;

    }
    .about__img{
       display: none;
    }
}
@media screen and (min-width:576px) {
    
    .about__address-box{
        width: 50%;
    }
}
@media screen and (max-width:576px) {
    
    .about__address-box{
        margin-bottom: 20px;
    }
     .about__img-box {
         padding: 0;
     }
     .about__images{
         height: 360px;
     }
     .show-modal{
         width: 100%;
         z-index: 105;
     }
     .pad-left{
         padding-left: 0;
     }

}
/* jamolidddin finshed about section and started services */
#services{
    padding: 120px 0 90px;
  background: #0c0c0c;
    
}
.services__box{
    width: 1150px;
    padding: 0 15px;

}
.services-width{
    width: 90%;
}
.services__content-box{
    padding: 0 15px;
    margin-bottom: 30px;
}
.services__row{
    margin: 0 -15px;
}
.service__items{
    position: relative;
    background: #000000;
    padding: 30px 30px 25px;
    border-left: 2px solid var(--primary-color);
}
.services__icon-heading{
    display: flex;
    align-items: center;
    font-size: 30px;
    
}
.services__icon-box{
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border:solid 1px var(--primary-color);
    position: absolute;
    left: -8px;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services__content-heading{
    padding-left: 25px;
}
.services__content-number{
    font-size: 20px;
    color: var(--primary-color);
}
.services__content-name{
    margin: 0;
    color: #fff;
    font-family: 'Oswald',
    sans-serif;
    line-height: 1.75rem;
    font-weight: 700;
    font-size: 20px;
   
}
.service__items-parag{
        padding-top: 20px;
        line-height: 1.75rem;
        font-size: 15px;
        color: #bbb;
        letter-spacing: 1px;    
}
.service__items:hover .services__icon-box{
    background-color: #000000;
}
@media screen and (max-width:992px) {
    .services__box{
        width: 90%;
    }
}
@media screen and (min-width:580px) {
    .services__content-box{
        width: 50%;
    }
}
@media screen and (max-width:576px) {
    .services__title{
        font-size: 24px;
    }
}
/* jamoliddin finished service and started counter section */
#counter{
    padding: 120px 0;
    background-color: #000;
    
}
.counter__box{
    width: 1150px;
}
.counter__items{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0 30px;
    background: #0c0c0c;
    border-bottom: 3px solid var(--primary-color);
}
.counter__content-box{
    padding: 0 15px;
    
}
.counter__counting{
        color: #fff;
        font-family: 'Oswald',sans-serif;
        line-height: 1.75rem;
        font-weight: 700;
        font-size: 55px;
        margin-bottom: 10px;
}
.counter__content{
    position: relative;
    padding-left: 50px;
}
.counter__content::before{
    position: absolute;
    content: '';
    top: 2px;
    left: 20px;
    width: 2px;
    height: 55px;
    background: #fff;
}
.counter__about{
    font-size: 15px;
    color: #fff;
    line-height: 1.75rem;
}
.counter__icon{
    font-size: 35px;
    color: var(--primary-color);
}
@media screen and (max-width:992px) {
    #counter{
        width: 100%;
        padding: 0;
        height: 0;
        overflow: hidden;
    }
    
}
/* jamoliddin finished counter section and started portfolio section */
.portfolio{
    padding: 120px 0 90px;
}
.portfolio__box{
    width: 1150px;
    padding: 0 15px;
}
.portfolio__row{
    margin: 0 -15px;
}
.portfolio__content-box{
    height: 235px;
    margin-bottom: 30px;
    position: relative;
    
    padding: 0 15px;

    
}
.portfolio__wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.portfolio__back-img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: #000;
    background-image: url('../imgs/bookmark-img.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

}
.portfolio__content-box:nth-child(2) .portfolio__back-img{
    background-image: url('../imgs/MyProduct-img.png');
}
.portfolio__content-box:nth-child(3) .portfolio__back-img {
    background-image: url('../imgs/coffee-roaster.png');
}
.portfolio__content-box:nth-child(4) .portfolio__back-img {
    background-image: url('../imgs/sinauw-img.png');
}
.portfolio__content-box:nth-child(1) .portfolio__back-img {
    background-image: url('../imgs/stark-img.png');
    background-size: cover;
}
.portfolio__content-box:nth-child(6) .portfolio__back-img {
    background-image: url('../imgs/minimalist.png');
    background-size: cover;
}
.portfolio__content{
    position: relative;
    width: 100%;
    height: 10px;
    background-color:var(--primary-color);
    padding: 15px 20px;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
    z-index: -1;
}
.portfolio__con-text-box{
    position: relative;
    padding-left: 12px;
}
.portfolio__con-text-box::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 3px;
    height: 50px;
    background: #fff;
}
.portfolio__content-title{
        color: #fff;
        font-family: 'Oswald',sans-serif;
        line-height: 1.75rem;
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 20px;
        margin-bottom: 5px;
}
.portfolio__text{
    letter-spacing: 1px;
    font-size: 15px;
    color: #fff;
    opacity: 0;

}

.portfolio__icon-box{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: 0.5s;
}
.portfolio__icon-box:hover{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.portfolio__content-box:hover .portfolio__content{
    height: 100%;
    opacity: 1;
    z-index: 100;
}
.portfolio__content-box:hover .portfolio__text {
    animation: portfolio-txt 2s;
    opacity: 1;
}
@keyframes portfolio-txt {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    80% {
        opacity: 0;
        transform: translateX(20px);

    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.portfolio__content-box:hover .portfolio__con-text-box::before{
    animation: before 1s;
    opacity: 1;
}
@keyframes before {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}


.portfolio-width{
    width: 90%;
}
.counter-width{
    width: 90%;
}
@media screen and (max-width:992px) {
    .portfolio__box{
        width: 90%;
    }
}

/* jamoliddin finished portfolio section and started contac section */
#contact{
    padding: 120px 0;
    background-color: #000;
}
.contact__box{
    width: 1150px;
    padding: 0 15px;
}
.contact__content{
    padding:  30px;
    background-color: #0c0c0c;
}
.contact___content-box{
    padding: 0;
}
.contact__content-title{
            font-size: 20px;
            color: #fff;
            font-family: 'Oswald', sans-serif;
            line-height: 1.75rem;
            font-weight: 700;
            margin-bottom: 10px;
}
.contact__contact-text{
    color: #bbb;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.75rem;
    margin-bottom: 20px;
}
.contact__phone{
    font-size: 18px;
    transform: rotate(0deg);
    color: #fff;
    margin: 0;
}
.contact__items span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: var(--primary-color);
}
.contact__items{
        line-height: 46px;
        font-size: 15px;
        color: #bbb;

}
.contact__items:last-child{
    font-size: 11px;
}
.contact__form-input{
    display: block;
    width: 100%;
        color: #555;
        background: #000000;
        min-height: 45px;
        padding: 0 0 0 10px;
        font-size: 16px;
        margin-bottom: 34px;
        border: 1px solid #141414;
        text-shadow: none;
}
.contact__row{
    margin: 0 -15px;
}
.contact___content-box{
    padding: 0 15px;
}
.contact__form-textarea{
        color: #555;
        background: #000000;
        width: 100%;
        height: 120px;
        padding: 10px 0 0 10px;
        font-size: 16px;
        display: block;
        box-sizing: border-box;
        margin-bottom: 34px;
        border: none;
        border: 1px solid #141414;
        text-shadow: none;
}
.contact__width{
    width: 90%;
}

/* ===== cursor css start ===== */
.cursor,
.cursor2,
.cursor3 {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%
}

.cursor {
    background-color: #fff;
    height: 6px;
    width: 6px;
    z-index: 99999;
    pointer-events: none;

}

.cursor2,
.cursor3 {
    height: 36px;
    width: 36px;
    z-index: 99998;
    transition: all 0.3s ease-out;
}

.cursor2.hover,
.cursor3.hover {
    transform: scale(2) translateX(-25%) translateY(-25%);
    border: none
}

.cursor2 {
    border: 2px solid #fff;
    box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}

.cursor2.hover {
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}
@media screen and (max-width:992px) {
    .contact__box{
        width: 90%;
    }
    .contact__content{
        margin-bottom: 30px;
    }
}
@media screen and (max-width:400px) {
    .contact__items{
        font-size: 12px;
    }
    .contact__items:nth-child(2){
        font-size: 9px;
    }
}

/* ===== cursor css end ===== */
/* jmaoliddin started site-foot section */
.foot{
    padding: 120px 0;
    background-color: #0c0c0c;
}
.foot__box{
    width: 70%;
}
.foot__content-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot__resver{
        font-size: 15px;
        line-height: 1.75rem;
}
.foot__apps{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
@media screen and (max-width:992px) {
    .foot{
        padding: 100px 0;
    }
    .foot__content-box{
        margin-bottom: 20px;
    }
}